.user-card {
  display: flex;
  align-items: center;
  height: 80px;
  max-width: 300px;
}

.user-picture {
  object-fit: cover;
  border-radius: 25px;
  height: 50px;
  width: 50px;
  margin: 5%;
}

.profile-info,
.message-info {
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow-x: hidden;
}

.status,
.last-message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #bababa;
  min-height: 20px;

  font-size: small;
  margin-right: 8px;
}
